<app-header></app-header>
<mat-card>
  <mat-card-title>Heyyyy!!!!We have exciting offers on our products to make your houses colorfull.GO and add items to your cart</mat-card-title>
  <br>
  <div style="text-align:center">
  <mat-card-title><b>STAY AT HOME.GRAB EXCITING OFFERS.STAY SAFE</b></mat-card-title>
</div>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<h2><b>Shop For Living Area</b></h2>
<hr>
<div class="row">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Modern Vase Designs</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/07/1573/72083/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Alena Jar Glass Vase 25Cm in Blush Colour
Living Essence
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Idols</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/71/2573/79458/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Zen Polyresin Buddha Hand Finished Figurine Tealight Holder 26Cm in Ivory Colour
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Table Decor
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/62/1173/57239/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Walton Wood Metal Human And Wood Figurine in Natural Wood And Gold Colour
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
    
  </div>
  <br>
  <h2><b>Shop For Bed Area</b></h2>
<hr>
<div class="row">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Window curtain</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/69/0073/44676/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Amour Jacquard Dim Out Window Curtain 5 feet in Mustard Colour for bedroom area

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Book Shelf</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/62/9153/97766/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Crony Engineered Wood Large Book Shelf in Wenge Colour
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Candle Wax</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://hometown.gumlet.io/media/product/81/9173/39583/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
    <mat-card-content>
      <p>
        Pillar Candle Wax Candle Wax Set Of 2 in Ocean Dream Colour
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
    
  </div>
  <br>
  <h2><b>Shop For Garden Area</b></h2>
  <hr>
  <div class="row">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nested Planter</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://hometown.gumlet.io/media/product/88/4073/26745/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
      <mat-card-content>
        <p>
          Skylar Iron Nested Planter in Gold Colour
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>River Pebbles</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://hometown.gumlet.io/media/product/07/4573/88306/1.jpg?mode=fill&w=273&h=273&dpr=2.0" alt="Vases">
      <mat-card-content>
        <p>
          Jewel River Pebbles 250Gm in Grey Colour
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Garden Hanging Chair
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://image.made-in-china.com/44f3j00GAItTsMoJabL/New-Design-Cane-Furniture-Casual-Outdoor-Home-Garden-Hanging-Chair-PE-Rattan-Wicker-Leisure-Chair.jpg" alt="Vases">
      <mat-card-content>
        <p>
          New Design Cane Furniture Casual Outdoor Home Garden Hanging Chair PE Rattan Wicker Leisure Chair
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
      
    </div>
    <mat-card>
      <mat-card-title>Glad that our products made an postive impression on your mind.</mat-card-title>
      <br>
      <div  class="container"style="text-align:center">
      <mat-card-title><b>With out wasting a moment, Register your self and grab those heart seizing deals!!</b></mat-card-title>
    </div>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
<div class="container">
  <h4 class="p-2 border-bottom border-success">Products</h4>
  <div class="row">
    <div class="col-sm-3" *ngFor="let p of list">
      <div class="card">
        <div class="card-header text-center">
          <h4>{{ p.pname }}</h4>
        </div>
        <img
          class="card-img-top m-2"
          src="http://localhost:8080/{{ p.photo }}"
          alt="Card image cap"
          style="width: 90%; height: 150px"
        />
        <div class="card-body text-center">
          <p class="card-text">
            {{ p?.category?.catname }}
          </p>
          <p>Price: &#8377; {{ p.price }}</p>
          <button (click)="addtocart(p.id)" class="btn btn-primary btn-sm mr-2">
            Add to Cart
          </button>
          <button (click)="addtowishlist(p.id)" class="btn btn-success btn-sm">
            Add to Wishlist
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
